nav {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 50px;
    background-color: #aa0404;
    height: auto;
    font-family: 'Sanchez', serif, cursive;
  }
  
  a {
    color: #ffffff;
  }
  
  a:hover {
    color: #080808;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
  }
  
  ul {
    padding-left: 0px;
  }